html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
div{
    margin: 0;
    padding: 0;
}
html {
    position: relative;
    min-height: 100%;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.firstPart {
    height: 100%;
    padding: 10%;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;

    
}

.secondPart {
    height: 100%;
    padding: 10%;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    background-color: #292b2c;
    color: white;
}

.mycontainer{
    display: grid;
    grid-template-columns: 2fr 8fr;
    height: 100%;

}

.mg-bt-10px {
    margin-bottom: 10px;
}

.fixed-nav{
    position: fixed;
    color: black;
}

.titleFormat {
    text-shadow: 0 1px 0 #ccc,
                0 2px 0 #c9c9c9,
                0 3px 0 #bbb,
                0 4px 0 #b9b9b9,
                0 5px 0 #aaa,
                0 6px 1px rgba(0,0,0,.1),
                0 0 5px rgba(0,0,0,.1),
                0 1px 3px rgba(0,0,0,.3),
                0 3px 5px rgba(0,0,0,.2),
                0 5px 10px rgba(0,0,0,.25),
                0 10px 10px rgba(0,0,0,.2),
                0 20px 20px rgba(0,0,0,.15);
    color: white;
    text-decoration: none;
}
.titleFormat:hover {
    text-decoration: none;
    color: white;
}

.logout {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.logoutItem {

}

.logoutItem:hover {
    background-color: #5b6268;
    color: #000000;
}

.fontBlack {
    color: #000000;
}

.selectSize {
    width: 30%;
}

.defaultButton {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #000000;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}
.defaultButton:hover {
    background: #434343;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

.redButton{
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #dc3546;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

.redButton:hover {
    background: #434343;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}