@model LibraryProject.Models.Author
@{
   ViewData["Title"]= "Index" ;
}
<table-name name="Books of author"/>
<form asp-action="Show" method="get" class="selectSize">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <select asp-for="Id" class="form-control mdb-select md-form" asp-items="ViewBag.AuthorId"></select>
    </div>
    <div class="form-group">
        <input type="submit" value="Show" class="defaultButton"/>
    </div>
</form>

