<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LibraryProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="">
    <div class="mycontainer">
        <div class="firstPart bg-secondary">
            <partial name="_HeaderPartial" />
        </div>

        <div class="secondPart">

            @RenderBody()
        </div>

    </div>
    <footer class="border-top footer text-muted bg-secondary">
        <partial name="_FooterPartial" />
    </footer>
    <partial name="_Scripts" />
    @RenderSection("Scripts", required: false)
</body>


</html>
