<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LibraryProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="bg-secondary">
    <header>
        <partial name="_HeaderPartial" />
    </header>
    <div>
        <div class="container pt-3">
            <main role="main">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer class="border-top footer text-muted bg-danger">
        <partial name="_FooterPartial" />
    </footer>
    <partial name="_Scripts" />
    @RenderSection("Scripts", required: false)
</body>

</html>
