@model LibraryProject.Models.AppAuthor
@{
    ViewData["Title"] = "Index";
}

    <div>
        <table-name name="@Html.DisplayNameForModel()" />
    </div>

    <div class="fontBlack selectSize">
        <app-author name="Test" surname="Test" index-number="Test" />
    </div>