@{
    ViewData["Title"] = "Home Page";
}

<table-name name="About application" />
<hr />
<div>

    <p>Application was created using <strong>ASP.NET Core MVC</strong> technology.</p>
    <h5>Packages used in project:</h5>
    <ul>
        <li>
            EntityFramework v3.1.1
        </li>
        <li>
            Identity.UI v3.1.1
        </li>
        <li>
            Newtonsoft.Json v12.0.3
        </li>
    </ul>
</div>