@model IEnumerable<LibraryProject.Models.Author>

@{
    ViewData["Title"] = "Index";
}


<div class="d-flex justify-content-between">
    <div>
        <table-name name="Authors" />
    </div>
    <div>
        <a asp-action="Create"><button class="defaultButton">Create new</button></a>
    </div>
</div>


<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            @Html.Partial("_PartialTable", item)
        }

    </tbody>
</table>
